@charset "utf-8";
/* CSS DOCUMENT*/

body {
    background-color: aquamarine;
    
}
#principal1{
    font-style: italic;
    color: blue;
}
footer{
    position:absolute;
    bottom:0px;
}
#sectionP{
    font-style: oblique;
    font-family: "Comic Sans MS";
    color: blueviolet;
}
